#text{
  -webkit-appearance: none; 
  border: none; 
  font-size: 16px; 
  vertical-align: bottom; 
  width: 50%;
  min-height: 42px;
  padding: 0px 0px 0px 0px;
}
#textarea{
  -webkit-appearance: none; 
  border: none; 
  font-size: 16px; 
  width: 95%;
  margin-left: 6px;
  /*margin-right: auto;*/
  vertical-align: bottom; 
  /*min-height: 84px;
  padding: 6px -18px 6px 6px;*/
}

#submitbutton{
    font-size: 17px;
    width: 100%;
    margin: 0 6px 0 6px;
}

.icon_right,
.icon_left{
    margin: 30px 30px 30px 30px ;
}
.icon_left{
    float:left; 
}
.icon_right{
    float: right;
}