<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Adicione um novo percurso</title>
    <meta name="viewport" content="width=devicewidth; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/> 
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}../media/iui/iui-logo-touch-icon.png" /> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="YES" /> 
    <!-- 
    <style type="text/css" media="screen">@import "{{ MEDIA_URL }}../media/css/style.css";></style>
    -->
    <!-- iWebKit -->
    <link href="{{ MEDIA_URL }}../media/iwebkit/css/developer-style.css" rel="stylesheet" media="screen" type="text/css" />
    <script src="{{ MEDIA_URL }}../media/iwebkit/javascript/developer-functions.js" type="text/javascript"></script>
    
    <script type="application/x-javascript" src="{{ MEDIA_URL }}../media/js/style.js"></script> 
    <script type="application/x-javascript" src="{{ MEDIA_URL }}../media/js/bikecorder.js"></script> 
  </head>
  <body>
    <div id="topbar">
      <div id="leftnav">
        <a href="/"><img alt="home" src="{{ MEDIA_URL }}../media/iwebkit/images/home.png" /></a>
      </div>
      <div id="title">Novo Percurso</div>
    </div>
    <div id="content">
      <form name="new_path">
      <fieldset>
        <span class="graytitle">Adicione um novo percurso</span>
        <ul class="pageitem">
          <li class="smallfield">
            <span class="name">Data</span><input type="number" name="date">
          </li>
          <li class="smallfield">
            <span class="name">Dist&acirc;ncia</span><input type="number" name="distance">
          </li>
          <li class="smallfield">
            <span class="name">Tempo</span><input type="number" name="time">
          </li>
          <li class="smallfield">
            <span class="name">Vel. m&eacute;dia</span><input type="number" name="avg_speed">
          </li>
          <li class="smallfield">
            <span class="name">Vel. m&aacute;xima</span><input type="number" name="max_speed">
          </li>
          <li class="textbox">
            <span class="header">Percurso</span><textarea name="path" type="text" rows="2" style="-webkit-appearance: none; border: 0;" onkeyup="grow(event);" onchange="grow(event);"></textarea>
          </li>
          <li class="textbox">
            <span class="header">Observa&ccedil;&atilde;o</span><textarea name="observation" type="text" rows="2" style="-webkit-appearance: none; border: 0;" onkeyup="grow(event);" onchange="grow(event);"></textarea>
          </li>
        </ul>
      </fieldset>
      <input type="submit" value="Salvar" style="font-size: 17px;width: 95%;margin: 0 6px 12px 6px;" onClick="salvar(document.new_path)"/>
      </form>
    </div>
  </body>
</html>
