<!DOCTYPE html> 
 
<html manifest="http://192.168.0.100:8081/bikecorder.manifest">
  <head>
    <title>Bikecorder</title>
    <meta name="viewport" content="width=devicewidth; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/> 
    <link rel="apple-touch-icon" href="static/iui/iui-logo-touch-icon.png" /> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="YES" /> 
    <script type="application/x-javascript" src="static/js/style.js"></script> 
  </head>
  <body>
    <div>
      <img src="static/iui/iui-logo-touch-icon.png" style="float:left; margin-right: 10px;">
      <h1>Bikecorder</h1>
    </div>
    <div style="position: absolute;">
      <p><div style="position: relative;">
        <div style="position: relative;text-align: center;float:left; margin: 30px 30px 30px 30px;"><a href="add/">Novo Percurso</a></div>
        <div style="position: relative;text-align: center;float:right; margin: 30px 30px 30px 30px;">Estat&iacute;sticas</div>
      </div></p>
      <p><div style="position: relative;">
        <div style="position: relative;text-align: center;float:left; margin: 30px 30px 30px 30px;">Gr&aacute;ficos</div>
        <div style="position: relative;text-align: center;float:right; margin: 30px 30px 30px 30px;">Sobre</div>
      </div>
      </p>
    </div>
  </body>
</html>